html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: monospace;
  background-color: #32746d;
}

.header {
  background-color: #15423a;
  width: 98%;
  height: 85px;
  border-radius: 150px;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  font-weight: bold;
}

.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  font-size: 18px;
}

.logo a {
  display: flex;
  align-items: center;
  justify-items: center;
  text-decoration: none;
}

.logo a img {
  height: 100%;
  width: 70px;
}

.header .container .titulo {
  color: white;
  font-size: 30px;
  font-family: monospace;
  margin-left: 10px;
}

.header .container .navbar {
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
}

.header .container .navbar .agora a {
  padding: 30%;
  background-color: #0097b2;
  border-radius: 19px;
}

.header .container .navbar a {
  color: white;
  text-decoration: none;
}
