.header {
  height: 13vh;
}
.simulador {
  width: 100%;
  height: 83vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.simulador .container {
  width: 80%;
  height: 90%;
  display: flex;
  margin: 2% 5%;
  background-image: linear-gradient(to right, #f7f7f7 0 30%, #104f55 30% 100%);
  border-radius: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-simulador {
  width: 28%;
  margin: 0 1%;
  justify-self: flex-start;
}

.card-simulador h1 {
  font-size: 28px;
}

.card-simulador label {
  font-size: 112%;
  font-weight: bold;
}
.card-simulador input {
  height: 7%;
  margin-bottom: 3%;
  border: 0;
  border-bottom: 2px solid #104f55;
  background-color: #f7f7f7;
}

.card-simulador button {
  align-self: center;
  width: 40%;
  height: 8%;
  background-color: #104f55;
  color: #f7f7f7;
  border-radius: 5px;
  border: 1px solid #104f55;
  margin: 1%;
}

.container-retorno {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 70%;
}
.card-explicacao-contexto {
  width: 90%;
  height: 57%;
  font-size: 125%;

}

.campo {
  padding: 2%;
  margin: 3% 0;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.campo span span {
  font-weight: bold;
}

.card-resultado-simulacao {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-resultado-simulacao .campo {
  width: 28%;
  margin: 0 1%;
}

.card-resultado-simulacao .campo-resultado span {
  font-size: 110%;
}

.card-resultado-simulacao .campo-ociosidade-reduzida {
  width: 38%;
  margin: 0 1%;
  font-size: 126%;
}

