* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    width: 100%;
    height: 10px;
    background-color: rgb(6, 99, 92);
}
.header {
    width: 20%;
    height:100vh;
    background-color: rgb(6, 99, 92);
    padding: 20px 2%;
    color: white;    
    position: absolute;

}

#Sair{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 25px;
}
#Sair a{
    color: white;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}
#Sair img{
    width: 50px;
    height: 50px;
}

.info-barra-lateral {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px;
    align-items: center;
}

.info-barra-lateral .logo {
    display: flex;
}

.info-barra-lateral .logo h3 {
    margin-top: 15px;
}
.info-barra-lateral img {
    width: 80px;
    height: 50px;
    color: white;
}


nav {
    width: 90%;
    height: 350px;
    padding: 15px;
    border-radius: 30px;
    background-color: rgb(3, 53, 50);
    
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */

    margin-top: 30px;
}

.opcoes ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adiciona espaçamento entre os itens */
}

.opcoes ul li {
    padding: 2px 15px;
    font-size: medium;
}


.opcoes ul li a {
    color: white;
    text-decoration: none;
    align-items: center;
}

.opcoes ul li button {
    width: 60px;
    height: 35px;
    background-color: rgb(146, 221, 196);
    border-style: none;
    color: white;
}



.info-body {
    width: calc(100% - 250px); /* Calcula a largura restante após a parte verde */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    background-color: white;
    margin-left: 250px; /* Espaço para não sobrepor a parte verde */
    padding: 20px;
}

.titulo {
    width: 55%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(192, 192, 192);
    border: solid 2px;
    border-radius: 15px;
}

.titulo #titulo_paragrafo{
    font-size: xx-large;
    font-weight: bold;
}

.display_vagas {
    display: flex;
    flex-wrap: wrap; /* Faz as vagas ocuparem várias linhas, se necessário */
    justify-content: center; /* Centraliza os carros horizontalmente */
    padding: 30px;
    width: 70%; /* Mantém alinhado com a parte de cima */
}

.display_vagas button {
    width: 70px;
    height: 100px;
    background-color: rgba(106, 184, 129, 0.753);
    margin: 5px; /* Espaçamento entre os botões */
}

.display_vagas img {
    width: 50px;
}

.botao_sair, .botao_sair a {
    display: flex;
    justify-content: center;
    align-items: center;
}