body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background: white;
}

section {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 35px;
    padding-bottom: 40px;
    padding-left: 45px;
    padding-right: 45px;
    background: #d8d8d8;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    font-family: monospace;
    font-weight: bold;
    color: #104F55;
    font-weight: bold;
    font-size: 15px;
    border-radius: 70px;
}
img {
    width: 160px; 
    height: auto; 
    margin-bottom: 5px; 
}

section h1 {
    font-size: 1.7rem;
    margin: 2rem;
    margin-bottom: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section form {
    display: flex;
    flex-direction: column;
    width: 60%;
}

form label {
    margin: 6px 6px;
}

form input {
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 8px;
    font-size: 15px;
    border-radius: 20px;
}

form textarea {
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-top: 12px;
    margin-bottom: 47px;
    transition: all 0.5s;
    box-shadow: rgba(12, 69, 27, 0.4) 5px 5px, rgba(12, 76, 59, 0.3) 10px 10px, rgba(17, 57, 78, 0.2) 15px 15px, rgba(0, 71, 28, 0.1) 20px 20px, rgba(22, 71, 51, 0.05) 25px 25px;
}

form textarea:focus {
    border-radius: 20px;
}

form button {
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    background: #104F55;
    color: whitesmoke;
    border: 2px solid #104F55;
    transition: all 1s;
    margin-bottom: 20px;
    border-radius: 16px;
    font-family: monospace;
}

form button:hover {
    background: transparent;
    color: #104F55;

}
.footer {
    background: #22868f;
    padding: 20px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    text-align: center;
    margin-top: auto;
    justify-items: center;
    margin: 0 auto;

}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
ul {
    list-style: none;
}
.footer-col {
width: 25%;
padding: 0 15px;
}
.footer-col h4 {
    font-size: 22px;
    color: aliceblue;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: bold;
    position: relative;
}
.footer-col h4::before {
content: '';
position: absolute;
left: 3;
bottom: -15px;
background: #104F55;
height: 4px;
box-sizing: border-box;
width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #104F55;
    padding-left: 10px;
}